@import url(http://fonts.googleapis.com/css?family=Sansita+One);

.demobackground{
background: #232526; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}  

#container {
  background-color:#fff;
}

.big-button {
  position: relative;
  background-color:#ccffcc;
  color: #000000;
  font-family: 'Sansita One', cursive;
  font-size: 26px;
  font-weight: 500;
  
  margin: 10px auto;
  padding: 20px;
  height: 150px;
  width: 270px;
  text-decoration: none;
  text-transform: capitalize;
  
  
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  
  -webkit-box-shadow: 0px 15px 0px #009933, 0px 10px 25px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 15px 0px #009933, 0px 10px 25px rgba(0,0,0,.5);
  box-shadow: 0px 15px 0px #009933, 0px 10px 25px rgba(0,0,0,.5);
  
  margin: 50px auto;
  
  border-color: #66ff66;
  border-width: 10px;
  border-radius: 40px 100px 100px 100px;
  padding: 20px;
}

.big-button:active {
  box-shadow: 0px 3px 0px #33CC33, 0px 3px 6px rgba(0,0,0,.9);
  position: relative;
  top: 10px;
}

.shadow {
  background: #000;
  border-radius: 40px 100px 100px 100px;
  box-shadow: 0 0 20px 10px #111;
  height: 120px;
  width: 270px;
  opacity: 0.2;
  margin: 30px auto;
}

.shadow:active {
  box-shadow: 0px 3px 0px #33CC33, 0px 3px 6px rgba(0,0,0,.9);
  position: relative;
  top: 10px;
}