<div class="container-fluid" ng-controller="scheduleCtrl as ctrl">
    <span ng-init="ctrl.initCall()">
        <div class="menu_simple">
                    <ul>
                        <li><a ui-sref="userpage">Home</a></li>
                        <li><a ui-sref="currentbooking">Edit Current Booking</a></li>
                        <li><a>Create New booking</a></li>
                        <li><a>Update Particulars</a></li>
                        <li><a ng-click="ctrl.logout()">logout</a></li>
                    </ul>
        </div>
        <br>
        <br>
        <br>

        <div class="container-fluid">
            <p>You have booked {{ctrl.currentbooking.start_time | date:'dd MMM yyyy EEEE h:mma'}}</p>
        <div>
        <br>
        
   <button ng-click="">cancel appointment</button> 
</div> 

 
            