 <div class="container-fluid" ng-controller="scheduleCtrl as ctrl">
     <span ng-init="ctrl.initCall()">
        <div class="menu_simple">
                    <ul>
                        <li><a ui-sref="userpage">Home</a></li>
                        <li><a ui-sref="currentbooking">Edit Current Booking</a></li>
                        <li><a ui-sref="">Create New booking</a></li>
                        <li><a ui-sref="">Update Particulars</a></li>
                        <li><a ng-click="ctrl.logout()">logout</a></li>
                    </ul>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>


<div class="container-fluid" ng-controller="scheduleCtrl as ctrl" >
    <p>You have selected {{ctrl.start_time | date:'dd MMM yyyy EEEE h:mma'}} for your next service.</p>
    <button  ng-click="ctrl.addbooking()">confirm booking</button>
    <div>{{ctrl.bookingmsg}}</div>
    
</div>
<div>
<ui-view></ui-view>
</div>