
 <div class="container-fluid" ng-controller="scheduleCtrl as ctrl">
        <div class="menu_simple">
                    <ul>
                        <li><a ng-click="ctrl.retrievebooking()">Edit Current Booking</a></li>
                        <li><a ui-sref="">Create New booking</a></li>
                        <li><a ui-sref="">Update Particulars</a></li>
                        <li><a ng-click="ctrl.logout()">logout</a></li>
                    </ul>
        </div>
<br>
<br>


        <div>
            <style>
                table, th, td {
                border: 1px solid black;
                }
            </style>
            <table>
                <caption>Book your Appointment</caption>
                    <col width ="30">
                    <col width ="30">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="schedule in ctrl.schedule | orderBy: 'starttime'">
                            <td>{{schedule.start_time | date:'dd MMM yyyy EEEE'}}</td>
                            <td><a ui-sref="newbooking({service_id: schedule.service_id, start_time: schedule.start_time})">{{schedule.start_time | date:'h:mma'}}</a></td>
                        </tr>
                    </tbody>
            </table>
            <button ng-click="ctrl.getSchedule()">Next 7 days</button>
        </div>  
    </div> 
