    
    
    <div clas="container-fluid">
        <div class="menu_simple" ng-controller="scheduleCtrl as ctrl">
                    <ul>
                        <!--<li><a ng-click="ctrl.retrievebooking()">Edit Current Booking</a></li>-->
                        <li><a ui-sref="userpage">Home</a></li>
                        <li><a ui-sref="currentbooking">Edit Current Booking</a></li>
                        <li><a>Create New booking</a></li>
                        <li><a>Update Particulars</a></li>
                        <li><a ng-click="ctrl.logout()">logout</a></li>
                    </ul>
        </div>
        <br>
        <br>
        <br>
    

    
        <div>
                <p>Welcome to Booking Page, Roger Chow</p>
                <p>Your current service address : 11 Amber Road</p>
                <p>Your contract will expire in 27 April 2017.Click here now to renew and enjoy an extra health check free</p>
                <p>You have used 1 of 4 standard service entitlement</p>
                <p>your last service was 2 Feb 2017</p>
                <p>Your aircon is 3 year old. It is recommended you do a extended service which include .....</p>
                <br>

                <button ng-click="ctrl.getSchedule()"><a ui-sref="schedule">Search for schedule</a></button>
        </div>
    </div>

        <div>
        <ui-view></ui-view>
        </div>
    





