<div class="container-fluid" ui-view="scheduleadmin">
    <div class="row">
        <div class="col-lg-12">
            <h1>Create the schedule</h1>
          <a href="createsp.html">select Service Provider from the list</a>  
        </div>
     </div>
</div>