<div class="container-fluid">
    <div class="row" name="createservicename" id="createservicename">
        <div class="col-lg-12">
            <h3>Select the service name</h3>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">select service name
                    <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>standard</li>
                            <li>extended</li>
                            <li>Overhaul</li>
                        </ul>
                </button>
                 <a ui-sref="scheduleadmin.createschedule">Next</a>                 
            </div>            
        </div>
     </div>
</div>

