<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h3>Select the Service Provider</h3>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select SP
                    <span class="caret"></span></button>
                        <ul class="dropdown-menu" name="sp">
                            <li>Service Provider A</li>
                            <li>Service Provider B</li>
                            <li>Service Provider C</li>
                        </ul>
                 <a ui-sref="scheduleadmin.createservicename">Next</a> 
            </div>
        </div>
     </div>
</div>


