 <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                         <div class ="table-responsive">
                        <h3>Create your service schedule</h3>
                        <p1>Select the day/s your service will be available. Note that you will be able to make exception later(for certain date) which your service is not available</p>
                            <!-- On rows -->
                            <thead>
                            <table class = "table table-bordered">
                            <thead class ="success">
                                <tr>
                                    <th>Mon</th>
                                    <th>Tue</th>
                                    <th>Wed</th>
                                    <th>Thur</th>
                                    <th>Fri</th>
                                    <th>Sat</th>
                                    <th>Sun</th>
                                </tr>
                            </thead>

                            <tbody>
                                <form class="form-control">
                                    <tr>
                                        <div class="radio">
                                            <td>
                                            <label><input type="radio" name="Mon" value="mon"></label>
                                            </td>
                                            <td>
                                            <label><input type="radio" name="Tue" value="tue"></label>
                                            </td>
                                            <td>
                                            <label><input type="radio" name="Wed" value="wed"></label>
                                            </td>
                                            <td>
                                            <label><input type="radio" name="Thu" value="thu"></label>
                                            </td>
                                            <td>
                                            <label><input type="radio" name="Fri" value="fri"></label>
                                            </td>
                                            <td>
                                            <label><input type="radio" name="Sat" value="sat"></label>
                                            </td>
                                            <td>
                                            <label><input type="radio" name="Sun" value"sun"></label>
                                            </td>
                                        </div>
                                        </tr>
                                    </form>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            
        

        <div class ="container-fluid" ng-controller="scheduleCtrl as ctrl">
            <div class="row">
                <div class="col-lg-12">
                    <p1>Create your service time slot. You can create multiple time slot for the day you have selected. You can make exception later for certain time slot in certain date</p>
                    <form class="form group">
                            <input name="servicetimeslot" type="text">
                                <select class="input-large input-large-altered ">
                                    <option value="timeslot1">Service Slot 1</option>
                                    <option value="timeslot2">Service Slot 2</option>
                                    <option value="timeslot3">Service Slot 3</option>
                                    <option value="timeslot4">Service Slot 4</option>
                                    <option value="timeslot5">Service Slot 5</option>
                                </select>
                            <label>enter start time</label>
                            <input name ="starttime" type ="time">
                            <label>enter end time</label>
                            <input name="endtime" type="time">    
                            <br>
                            <input name="servicetimeslot" type="text">
                                <select class="input-large input-large-altered ">
                                    <option value="timeslot1">Service Slot 1</option>
                                    <option value="timeslot2">Service Slot 2</option>
                                    <option value="timeslot3">Service Slot 3</option>
                                    <option value="timeslot4">Service Slot 4</option>
                                    <option value="timeslot5">Service Slot 5</option>
                                </select>
                                    <label>enter start time</label>
                                    <input name ="starttime" type ="time">
                                    <label>enter end time</label>
                                    <input name="endtime" type="time">       
                                    <br>
                            <p1>select the start date and end date that the services will be available</p> 
                                    <label>enter start date</label>
                                    <input name ="startdate" type ="date">
                                    <label>enter end date</label>
                                    <input name="enddate" type="date">
                    </form>  

                     <button ng-click="ctrl.getSchedule()"><a ui-sref="scheduleadmin.schedulepreview">preview</a></button>
                <div>
            </div>            
        </div>