<body>
<div class="container-fluid">
<div id="wrapper" ng-controller="adminCtrl as ctrl">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                        Admin Menu
                </li>
                <!--<li select name="select1" id="select1" ng-model="ctrl.select1">
                    <a ui-sref="adminschedule.createschedule">Manage schedule</a>
                </li>-->
                <li>
                    <a href="#">Manage schedule</a>                    
                </li>
                <li>
                    <a href="#">Manage Service Providers</a>
                </li>
                <li>
                    <a href="#">View Management Report</a>
                </li>
                <li>
                    <a href="#">Manage customers</a>
                </li>
                <li>
                    <a href="#">Manage contracts</a>
                </li>
                <li>
                    <a href="#">Manage Work Order</a>
                </li>
                <li>
                    <a href="#">Go to User Page</a>
                </li>
                <li>
                    <a href="#">Help</a>
                </li>
                <li>
                    <a ng-click="ctrl.logout()">Logout</a>
                </li>
            
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div class="container-fluid">
            <div id="page-content-wrapper" ng-controller2="UIViewCtrl as vctrl">
                <div class="menu_simple">
                    <ul>
                        <li><a>Edit Current Schedule</a></li>
                        <li><a ui-sref="scheduleadmin.createsp">Create New Schedule</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                        <h3>Welcome to Managing schedule</h3>
                        <p>Important Announcement!</p>
                        <p>You have just won a free subscription to use resource Schedule App for one year!</p>
                        <p>Choose from the menu options</p>
                        <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>-->
                </div>
            </div>
        </div>
        
        
            <div class="container-fluid" >
            <form name="createForm">
                <div ui-view="createsp"></div>
                <div ui-view="createservicename"></div>
                <div ui-view="createschedule"></div>
                <!--<div ui-view="scheduleexception"></div>-->
                <div ui-view="schedulepreview"></div>
            </form>
            </div>
   
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
</div>
  <!-- Menu Toggle Script -->
    <script>
    if (screen.width > 768 ) {
    console.log("screen " + screen.width);
    $("#wrapper").toggleClass("toggled");
    }

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>
