<!DOCTYPE html>
<html lang="en"ng-app="resourceApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap Core CSS -->
    
    <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="scheduleadmin.css" rel="stylesheet">
    
   
    <title>Schedule Admin</title>
</head>
<body>
<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Admin Menu
                    </a>
                </li>
                <li>
                    <a href="#">View current Schedule</a>
                </li>
                <li>
                    <a href="#">Create New Schedule</a>
                </li>
                <li>
                    <a href="#">Create Service Providers</a>
                </li>
                <li>
                    <a href="#">View Management Report</a>
                </li>
                <li>
                    <a href="#">Manage customers</a>
                </li>
                <li>
                    <a href="#">Manage contracts</a>
                </li>
                <li>
                    <a href="#">Manage Work Order</a>
                </li>
                <li>
                    <a href="#">Help</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" ng-controller="createScheduleCtrl as ctrl">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Announcement and Others(TBD)</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>-->
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form group">
                            <h1> Select the Service Provider(SP) from the list</h1>
                            <input name="spname" type="text" ng-model="ctrl.newSchedule.spname">
                            <select class="input-large input-large-altered">
                                <option value="A" name="spname">SP A</option>
                                <option value="B" name="spname">SP B</option>
                                <option value="C" name="spname">SP C</option>
                                <option value="D" name="spname">SP D</option>
                                <option value="E" name="spname">SP E</option>
                                </select>
                            <button>Next</button>
                        </form>            
                    </div>
                </div>
            </div>

            <!--<script>
            $('#btn').click(function() {
            $('#createsp').toggle();
            });
            </script>-->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <form class ="form group">
                        <h1>Create a service name</h1>
                            <label for="servicename">Service Name:</label>
                            <input type="text" id="servicename" name="servicename" ng-model="ctrl.newSchedule.servicename">
                            <button>Next</button>
                        </form>
                    </div>
                </div>
            </div>
            

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                         <div class ="table-responsive">
                        <h1>Create your service schedule</h1>
                        <p1>Select the day/s your service will be available. Note that you will be able to make exception later(for certain date) which your service is not available</p>
                            <!-- On rows -->
                            <thead>
                            <table class = "table table-bordered">
                            <thead class ="success">
                                <tr>
                                    <th>Mon</th>
                                    <th>Tue</th>
                                    <th>Wed</th>
                                    <th>Thur</th>
                                    <th>Fri</th>
                                    <th>Sat</th>
                                    <th>Sun</th>
                                </tr>
                            </thead>

                            <tbody>
                                <form>
                                    <tr>
                                        <div class="radio">
                                            <td>
                                            <label><input type="radio" name="Mon" value="mon"></label>
                                            </td>
                                            <td>
                                            <label><input type="radio" name="Tue" value="tue"></label>
                                            </td>
                                            <td>
                                            <label><input type="radio" name="Wed" value="wed"></label>
                                            </td>
                                            <td>
                                            <label><input type="radio" name="Thu" value="thu"></label>
                                            </td>
                                            <td>
                                            <label><input type="radio" name="Fri" value="fri"></label>
                                            </td>
                                            <td>
                                            <label><input type="radio" name="Sat" value="sat"></label>
                                            </td>
                                            <td>
                                            <label><input type="radio" name="Sun" value"sun"></label>
                                            </td>
                                        </div>
                                        </tr>
                                    </form>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            
        

        <div class ="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <p1>Create your service time slot. You can create multiple time slot for the day you have selected. You can make exception later for certain time slot in certain date</p>
                    <form class="form group">
                            <input name="servicetimeslot" type="text" ng-model="ctrl.newSchedule.timeslot1">
                                <select class="input-large input-large-altered ">
                                    <option value="timeslot1">Service Slot 1</option>
                                    <option value="timeslot2">Service Slot 2</option>
                                    <option value="timeslot3">Service Slot 3</option>
                                    <option value="timeslot4">Service Slot 4</option>
                                    <option value="timeslot5">Service Slot 5</option>
                                </select>
                            <label>enter start time</label>
                            <input name ="starttime" type ="time" ng-model="ctrl.newSchedule.timeslot1.starttime">
                            <label>enter end time</label>
                            <input name="endtime" type="time" ng-model="ctrl.newSchedule.timeslot1.endtime">    
                            <br>
                            <input name="servicetimeslot" type="text" ng-model="ctrl.newSchedule.timeslot2">
                                <select class="input-large input-large-altered ">
                                    <option value="timeslot1">Service Slot 1</option>
                                    <option value="timeslot2">Service Slot 2</option>
                                    <option value="timeslot3">Service Slot 3</option>
                                    <option value="timeslot4">Service Slot 4</option>
                                    <option value="timeslot5">Service Slot 5</option>
                                </select>
                                    <label>enter start time</label>
                                    <input name ="starttime" type ="time" ng-model="ctrl.newSchedule.timeslot2.starttime">
                                    <label>enter end time</label>
                                    <input name="endtime" type="time" ng-model="ctrl.newSchedule.timeslot2.starttime">       
                                    <br>
                            <p1>select the start date and end date that the services will be available</p> 
                                    <label>enter start date</label>
                                    <input name ="startdate" type ="date" ng-model="ctrl.newSchedule.startdate">
                                    <label>enter end date</label>
                                    <input name="enddate" type="date" ng-model="ctrl.newSchedule.enddate">
                    </form>  

                    <button>Preview schedule</button>
                    

                <div>
            </div>            
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <div ui-view></ui-view>
     
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<script src="app/app.js"></script>
<script src="app/services/postservice.js"></script>
<script src="app/admin/scheduleadmin/createschedule.js"></script>
  
<!-- Menu Toggle Script -->
    <script>
    if (screen.width > 768 ) {
    console.log("screen " + screen.width);
    $("#wrapper").toggleClass("toggled");
    }

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>

</html>